html, body{
    height: 100%;
}

select{
    width: auto;
}

label{
    font-size: 1rem;
}

footer{
    margin-top: 3rem;
}

p.secondary{
    color: gray;
}

.opposite, .opposite:focus, .opposite:hover{
    color: white;
    background-color: #141414;
}

body.dark .opposite, body.dark .opposite:focus, body.dark .opposite:hover{
    background-color: white;
    color: black;
}

body.dark, body.dark *{
    background-color: #141414;
    color: white;
}

body.dark a{
    color: #49A9E9;
}

body.dark #auth-container{
    box-shadow: 0px 0px 15px 5px #303030;
}

a.hover:hover{
    text-decoration: underline;
}

#theme-lbl{
    padding-right: 0.5rem;
}

#theme, #username, #password{
    border-radius: 10px;
}

#auth-container{
    width: 60%;
    max-width: 600px;
    box-shadow: 0px 0px 15px 5px lightgray;
    border-radius: 10px;
    height: 75%;
    padding: 3rem 2rem;
}

#auth-btn-container{
    margin-top: 1.5rem;
}

#auth-btn-container > *{
    width: 100%;
}

#or-sep{
    padding: 0.6rem 0px;
}

#auth-container .button{
    width: 100%;
}

.round{
    border-radius: 25px !important;
}




.h100{
    height: 100% !important;
}

.hauto{
    height: auto !important;
}

.w100{
    width: 100% !important;
}

.m0{
    margin: 0px !important;
}

.hm0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vm0{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.ama{
    margin-right: auto !important;
    margin-left: auto !important;
}

.aml{
    margin-right: auto !important;
    margin-left: 0px !important;
}

.amr{
    margin-left: auto !important;
    margin-right: 0px !important;
}

.f1{
    flex: 1 !important;
}

.hmargin{
    margin-left: 1rem;
    margin-right: 1rem;
}

.hpadding{
    padding-left: 1rem;
    padding-right: 1rem;
}