html, body{
    height: 100%;
}

body{
    min-height: 100vh;
}

select{
    width: auto;
}

label{
    font-size: 1rem;
}

footer{
    margin: 2rem 0px;
}

p.secondary{
    color: gray;
}

.button.outline{
    color: black;
    border: solid thin black;
    background-color: transparent;
}

.button.outline:hover{
    border: solid thin black;
    background-color: #f5f5f5;
}

body.dark .button.outline{
    color: white;
    border: solid thin white;
    background-color: transparent;
}

body.dark .button.outline:hover{
    border: solid thin white;
    background-color: #202020;
}

body.dark, body.dark *{
    background-color: #141414;
    color: white;
}

body.dark a{
    color: #49A9E9;
}

body.dark #auth-container{
    box-shadow: 0px 0px 15px 5px black;
}

a.hover:hover{
    text-decoration: underline;
}

#theme-lbl{
    padding-right: 0.5rem;
}

#theme, input[type="text"], input[type="password"], input[type="email"]{
    border-radius: 10px;
}

#auth-container{
    width: 60%;
    max-width: 600px;
    box-shadow: 0px 0px 15px 5px lightgray;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
}

#auth-btn-container{
    padding: 1rem 0px 2rem 0px;
}

#auth-btn-container > *{
    width: 100%;
}

#auth-form{
    padding-top: 2rem;
}

#or-sep{
    padding: 0.6rem 0px;
}

#auth-container .button{
    width: 100%;
}

.round{
    border-radius: 25px !important;
}

.spacer{
    height: 1rem;
}




.h100{
    height: 100% !important;
}

.hauto{
    height: auto !important;
}

.w100{
    width: 100% !important;
}

.m0{
    margin: 0px !important;
}

.hm0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vm0{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.ama{
    margin-right: auto !important;
    margin-left: auto !important;
}

.aml{
    margin-right: auto !important;
    margin-left: 0px !important;
}

.amr{
    margin-left: auto !important;
    margin-right: 0px !important;
}

.f1{
    flex: 1 !important;
}

.hmargin{
    margin-left: 1rem;
    margin-right: 1rem;
}

.hpadding{
    padding-left: 1rem;
    padding-right: 1rem;
}